body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control label,
.form-control input,
.form-control textarea {
  width: 100%;
  display: block;
  border-radius: 3px;
}

.form-control label {
  margin-bottom: 0.5 rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions button,
.btn {
  background: #392c4b;
  font: inherit;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
  color: #fffffff3;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
  background: #a46ffa;
  border-color: #a46ffa;
}

.chart-control {
  text-align: center;
}
